* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
 
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
  /* height: 2500px; */
}

:root {
	--mainColor: #852cf6;
	--mealHeaderSize: 60px;
	--meals-desc-title-width: 180px;
}

.main-navigation {
	position: relative;
}
.main-navigation .inverted {
	background-color: #852cf6 !important;
	border-color: #852cf6;
}
.main-navigation .navbar-default .navbar-brand {
	color: #852cf6;
	color: #fff;
	font-weight: normal;
}
.main-navigation .navbar-default{
	background-color: var(--mainColor);
}
.main-navigation .navbar-default .navbar-nav>li>a{
	color: #fff !important;
	font-weight: normal;
	font-weight: bold;
	font-size: 18px;
}
.main-navigation .navbar-default li.active{
	background-color: #f00 !important;
}

/* Shopping cart */
.navbar-right .shopping-cart{
	background: #ff1818;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    left: 39px;
    top: 4px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
    text-align: center;
}

/* Start of meals banner */
.meals_banner {
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
}
/* .meals_banner img{
    margin-bottom: 20px;
} */
.meals_banner h1 {
	font-size: var(--mealHeaderSize);
	margin-bottom: 10px;
	color: var(--mainColor);
}
/* End of meals banner */

/* Start of meals-list */
.meals-list {
	position: relative;
}
 
.meals-list .left-img img {
     width: 100%;  
    height: 100vh;
	height: auto;
   
}
.meals-list  .card {
	background-color: #eeeff1;
	height: 250px;
	margin-bottom: 10px;
}
.meals-list .meals-des {
	/* width: var(--meals-desc-title-width); */
	/* background-color: var(--mainColor); */
	color: var(--mainColor);
	padding: 8px 0px;
}
/* End of meals-list */

/* Start of list of avaialable drinks */
.drinks-list {
	margin-top: 60px;
	margin-bottom: 60px;
}
.drinks-list h1 {
	font-size: var(--mealHeaderSize);
	margin-bottom: 10px;
	color: var(--mainColor);
}
.drinks-list h3.drink-des {
	width: var(--meals-desc-title-width);
	background-color: var(--mainColor);
	color: #fff;
	padding: 8px 0px;
}
/* End of list of avaialable drinks */
.ui.violet{
	background-color: var(--mainColor) !important;
	color: #fff;
	font-weight: bold;
}


/* product Container */
.product-container{
	margin-top: 60px;
}













/* Start of footer style */
.footer{
	margin-top: 1200px;
	background-color: #852cf6;
	color: #fff;

}
/* End of footer style */
